@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.perspective {
  perspective: 1200px;
}
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
